/* */

.popup {
    position: fixed;
    margin: auto;
    min-width: 300px;
    max-width: 700px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 90%;
    background: #fff;
    border: 2px solid #777;
    border-radius: 10px;
}